STREET_TURF_INPAINT_PROVIDER=mock
STREET_TURF_MODEL_ID=stable-diffusion-v1-5/stable-diffusion-inpainting
STREET_TURF_DEVICE=auto
STREET_TURF_TORCH_DTYPE=float16
STREET_TURF_MAX_UPLOAD_BYTES=20971520
STREET_TURF_MAX_IMAGE_PIXELS=16777216
STREET_TURF_MAX_MASK_RATIO=0.45
STREET_TURF_INPAINT_MARGIN_PIXELS=64
STREET_TURF_MODEL_MAX_SIDE=1024
STREET_TURF_DATA_DIR=./data
STREET_TURF_PUBLIC_BASE_URL=http://localhost:8000

